# Global environment variables for check-certs.sh
## Datasource
DATASOURCE="MYSQL"
## File Datasource
TXT_SOURCE="/home/user/filename.txt"
## MySQL Datasource Connection settings
MYSQL_HOST="localhost"
MYSQL_USER="user"
MYSQL_DB="db"
MYSQL_PASS="password"
MYSQL_TABLE="table"
MYSQL_COL="column"
## Warning method for alerts
WARNING_METHOD="NONE"
## Alert handlers
# Webhook
WEBHOOK_URL="webhookurl"
# SMTP
SMTP_HOST="smtphost"
SMTP_USER="smtpuser"
SMTP_PASS="smtppass"
SMTP_SENDER="smtpsender"
